html
	head
		style
			include materialize/css/materialize.css
			include main.css
		script
			include sort.js
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		div#title_div(class="z-depth-5")
			br
			h1 Purdue University Salary Guide
			h3 by The Exponent 
			br
		div#table_div(class="z-depth-5")
			table(id="myTable" class="highlight centered responsive-table")
				thead
					tr
						th(onclick="sortTable(0)")= "Last Name"
						th(onclick="sortTable(1)")= "First Name"
						th(onclick="sortTable(2)")= "Department"
						th(onclick="sortTable(3)")= "Employee Group"
						th(onclick="sortTable(4)")= "compensation"
				tbody
					each item in list
						tr
							each x in item
								td= x
