{% extends "base.html" %}
{% block title %}Error{% endblock %}
{% block head %}
<style type="text/css">
	a.mdl-js-ripple-effect { position: relative; }
</style>
{% endblock %}

{% block content %}
<main class="mdl-layout__content">
	<div class="mdl-grid mdl-grid--no-spacing">
		<div class="mdl-cell mdl-cell--12-col">
			<h1 style="text-align: center;">{{ year }}</h1>
		</div>
	</div>
	<div class="mdl-grid mdl-grid--no-spacing mdl-color--grey-100">
		<div class="mdl-cell mdl-cell--2-col">
		</div>
		<div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
			<h4>The page you have requested does not exist yet.</h4>
		</div>
		<div class="mdl-cell mdl-cell--2-col">
		</div>
	</div>
</main>
{% endblock %}
