{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
<script>
	$(document).ready(function(){
		var table = $('#moneyTable').DataTable({
			responsive: true,
			ajax: "/static/{{ year }}.txt",
			columnDefs: [
				{
					targets: [ 0, 1, 2 ],
					className: 'mdl-data-table__cell--non-numeric'
				}
			]
		});
	});
</script>

<style type="text/css">
a.mdl-js-ripple-effect { position: relative; }
#monies{
	overflow-x: auto;
}
</style>
{% endblock %}

{% block content %}
<br />
<div class="row justify-content-center">
	<div class="col col-lg-8">
		<h1 style="text-align: center;">About</h1>
	</div>
</div>
<br />
<div class="row justify-content-center">
	<div class="col col-lg-8">
		<p>
			This is an online database containing salary information for Purdue employees for the fiscal years of 2011 through 2018. Anyone who got paid by Purdue and was not a student is in this database, along with the amount compensated.
		</p>
		<p>
			If you're interested in looking at the code and source data, hit up the <a href="https://github.com/fatcat2">GitHub repo</a>. You can get the JSON for a specific year by submitting a HTTP request to <code>https://salary.ryanjchen.com/data/"insert year"</code>.
		</p>
		<p>
			Example: 2018 data can be found at <a href="https://salary.ryanjchen.com/data/2018"><code>https://salary.ryanjchen.com/data/2018</code></a>
		</p>
		<p align="center">
		Requests for additional functionality can be directed to <a href="mailto:ryanjchen2@gmail.com">ryanjchen2@gmail.com</a>.
		</p>
	</div>
</div>
<p style="text-align: center"><a href="/about">About</a> |
Created and maintained by <a href="https://twitter.com/ryanjengchen">@ryanjengchen</a>.
</p>
{% endblock %}
