{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container mt-auto">
	<div class="row">
		<h1 style="">Editor's Note:</h1>

	</div>
	<div class="row">
		<p>
			The Exponent publishes public salary information for all Purdue employees in a special print edition on an annual basis during the spring semester. This database has compiled all of those figures from the past seven years in a searchable format. Salaries of employees at a public institution are available to any person who submits a records request. A PDF version of current and past Salary Guides is on our website under the special sections tab.
		</p>
	</div>
	<div class="row">
		<p align="left">
			Any feedback can be directed to <a href="mailto:online@purdueexponent.org">online@purdueexponent.org</a>.
		</p>
	</div>
</div>
{% endblock %}