<!doctype html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121905904-2"></script>
		<script>
			  window.dataLayer = window.dataLayer || [];
			    function gtag(){dataLayer.push(arguments);}
			      gtag('js', new Date());

			        gtag('config', 'UA-121905904-2');
			</script>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Including JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Including the datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.material.min.css"/>

    <!-- Including the MDL CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>

    <!-- Including the Roboto font -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <!-- Including more datables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"/>

    <!-- Including the datable JS file -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.material.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>{% block title %}{% endblock %} - sturdy-pancake</title>
    {% block head %}
    {% endblock %}
  </head>
  <body class="mdl-color--grey-100">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color--black">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title mdl-color-text--amber-300">sturdy-pancake</span>
          <!-- Add spacer, to align navigation to the right -->
          <!-- Navigation. We hide it in small screens. -->
          <div class="mdl-layout-spacer"></div>

          <!-- Navigation on the left side -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect" href="/">Home</a>
            <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect" href="/sports">Sports</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title">sturdy-pancake</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/sports">Sports</a>
          <a class="mdl-navigation__link" href="/">2017</a>
          <a class="mdl-navigation__link" href="/2016">2016</a>
          <a class="mdl-navigation__link" href="/2015">2015</a>
          <a class="mdl-navigation__link" href="/2014">2014</a>
          <a class="mdl-navigation__link" href="/2013">2013</a>
          <a class="mdl-navigation__link" href="/2012">2012</a>
          <a class="mdl-navigation__link" href="/2011">2011</a>
        </nav>
      </div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
