{% extends "base.html" %}
{% block title %}{{ year }}{% endblock %}
{% block head %}
<script>
	$(document).ready(function(){
		var table = $('#moneyTable').DataTable({
			responsive: true,
			ajax: "/data/{{ year }}",
			columnDefs: [
				{
					targets: 5,
					data: 5,
					render: $.fn.dataTable.render.number( ',', '.', 2, '$' )
				}
			],
			order: [[ 5, "desc" ]],
			autoWidth: true
		});
	});
</script>
<style>
a {
	color: #C28E0E;
}
</style>
{% endblock %}

{% block content %}
<br />
<div class="row justify-content-center">
	<div class="col">
		<h1 style="text-align: center;">Purdue Salary Guide for {{ year }}</h1>
	</div>
</div>
<div class="row justify-content-center">
	<div id="monies" class="col" style="">
		<table id="moneyTable" class="table table-striped table-bordered responsive nowrap" style="width:100%;height:auto">
			<thead>
				<tr>
					<th class="all">Last Name</th>
					<th class="all">First Name</th>
					<th class="min-desktop">Middle Name</th>
					<th class="min-desktop">Department</th>
					<th class="min-phone-l">Employee Group</th>
					<th class="all">Compensation</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<br>
<p style="text-align: center">© Copyright 2018 <a href="https://www.purdueexponent.org">Purdue Exponent</a>, PO Box 2506 West Lafayette, IN | <a href="https://www.purdueexponent.org/site/terms.html">Terms of Use</a> | <a href="https://www.purdueexponent.org/site/privacy.html">Privacy Policy</a> | <a href="/about">About</a></p>
<p style="text-align: center">
Created and maintained by <a href="https://twitter.com/ryanjengchen">@ryanjengchen</a>.
</p>
{% endblock %}
