<doctype html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#moneyTable').DataTable();
		});
	</script>
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Purdue Exponent Salary Guide</span>
		</header>
	</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset">
			<table id="moneyTable" class="display">
				<thead>
					<tr>
						<th>Last Name</th>
						<th>First Name</th>
						<th>Employee Group</th>
						<th>Department</th>
						<th>Compensation</th>
					</tr>
				</thead>
				{% for x in moneyList %}
				<tr>
					<td>{{ x['last_name'] }}</td>
					<td>{{ x['first_name'] }}</td>
					<td>{{ x['employee_group'] }}</td> 
					<td>{{ x['dept'] }}</td>
					<td>{{ x['compensation'] }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
		<div class="mdl-logo">Title</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="#">Help</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
</footer>
